.comments-page {
  .new-comment {
  }

  .comments-block {
    .comments-list {
      padding-right: 40px;
      padding-bottom: 10px;
      .list-item {
        list-style: none;
        .item-content{
          border: 1px solid lightgray;
          border-radius: 3px;
          margin-bottom: 50px;
            .ant-comment-inner{
              display: flex;
              flex-direction: row;
              max-width: 100%;
              justify-content: flex-start;
              align-items: center;

              .ant-comment-avatar{
                .ant-avatar{
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
              .ant-comment-content{
                width: 500px;
                &-author{
                  padding-right: 8px;
                  font-size: 12px;
                  line-height: 18px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  &-name{
                    padding-right: 10px;
                  }
                  &-time{

                  }
                }
                &-detail{
                  height: 50px;
                  word-break: break-all;
                }
                .ant-comment-actions{
                  list-style: none;
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;

                  li{
                    padding-right: 10px;
                  }
                }
              }
            }
        }

      }
    }
  }
}